{% extends "templates/web.html" %}

{% block breadcrumbs %}
    {% include "templates/includes/breadcrumbs.html" %}
{% endblock %}

{% block page_content %}
<!-- no-sidebar -->
<div>
	<div style="float: right;">
		<a href="{{ doc.source_code }}" class="btn btn-sm btn-success">
			<i class="icon-code-fork"> </i>
			Source
		</a>
	</div>
	<div>
		<h2>{{ doc.case_name }}</h2>		
	</div>
</div>
<div class="well">
	<div style="text-align: justify;">
		{%- if doc.problem_description -%}
		<h2 class="txt-blue " style="border-bottom: solid 1px #ddd"><i class="thumbnail	octicon octicon-alert rightspacer-10"></i>The Problem</h2>
		<div>{{ doc.problem_description }}</div>
		{%- endif -%}
		
		{%- if doc.approach -%}
		<h2 class="txt-blue " style="border-bottom: solid 1px #ddd"><i class="thumbnail octicon octicon-beaker rightspacer-10"></i>The Solution</h2>
		<div>{{ doc.approach }}</div>
		{%- endif -%}
		
		{%- if doc.solution -%}
		<h2 class="txt-blue " style="border-bottom: solid 1px #ddd"></h2>
		<div>{{ doc.solution }}</div>
		{%- endif -%}

		{%- if slideshow -%}
		<h2 class="txt-blue " style="border-bottom: solid 1px #ddd">Screenshots</h2>
		<div>{% include "templates/includes/slideshow.html" %}</div>
		{%- endif -%}

		{%- if doc.limitations -%}
		<h2 class="txt-blue " style="border-bottom: solid 1px #ddd">
			<i class="thumbnail octicon octicon-tools rightspacer-10"></i>
			The Customization
		</h2>
		<div>{{ doc.limitations }}</div>	
		{%- endif-%}
	</div>
</div>
{% endblock %}
